<div class="p-3">
    <h1>About the dust measurement project</h1>
    <p>The dust measurement project is an initiative by some enthusiastic, passionate and convivial ERNI employees. </p>
    <p>In the company-wide famous and prestigious annual Hack and Hicke event those employees met in an isolated location in the beautiful Swiss country site. There they commited in August 2018 to implement a sophisticated dust-measurement solution. The
        solution is based on latest state-of-the-art technology such as machine learning algorithms and 3-D printing. The participants self-orgnized into teams adressing following main topics:</p>
    <ul>
        <li>Front-end</li>
        <li>Back-end</li>
        <li>Detector</li>
        <li>Industrial Design (3D)</li>
        <li>Data Science</li>
        <li>Marketing</li>
    </ul>
    <p>The resulting solution is showcased on this website. For more information please contact <a href="https://www.betterask.erni/">ERNI</a>.</p>
    <p>Below are some imppressions of the collaborative work and venue documented with some snapshots.</p>
    <figure><img src="\pictures\IMG_20180824_234730.jpg" class="img-thumbnail" alt="..">
        <figcaption>Fig.1 - Dinnertime.</figcaption>
    </figure>
    <div class='col-sm-4'>
        <img src="\pictures\IMG_20180824_234737.jpg" class="img-thumbnail" alt=".."></div>
    <div class='col-sm-4'><img src="\pictures\IMG_20180824_234757.jpg" class="img-thumbnail" alt=".."></div>
    <div class='col-sm-4'><img src="\pictures\IMG_20180825_165502.jpg" class="img-thumbnail" alt=".."></div>
    <img src="\pictures\IMG_20180825_165509.jpg" class="img-thumbnail" alt="..">
    <div class='col-sm-4'><img src="\pictures\IMG_20180825_165524.jpg" class="img-thumbnail" alt=".."></div>
    <div class='col-sm-4'> <img src="\pictures\IMG_20180825_165539.jpg" class="img-thumbnail" alt=".."></div>
    <div class='col-sm-4'> <img src="\pictures\IMG_20180825_165700.jpg" class="img-thumbnail" alt=".."></div>
    <div class='col-sm-6'><img src="\pictures\IMG_20180825_165555.jpg" class="img-thumbnail" alt=".."></div>
    <div class='col-sm-6'><img src="\pictures\IMG_20180825_165546.jpg" class="img-thumbnail" alt=".."></div>
    <figure><img src="\pictures\IMG_20180825_191343.jpg" class="img-thumbnail" alt="..">
        <figcaption>The doggo - our bodyguard.</figcaption>
    </figure>
</div>