/* You can add global styles to this file, and also import other style files */

html, body {
  width: 100%;
  height: 100%;
  background: rgb(52,58,64);
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#loader::before {
    content: "";
    border: 10px solid rgb(52,58,64);
    border-top-color: white;
    border-bottom-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div.ol-zoom.ol-control {
  top: 4em;
}

div.ol-rotate.ol-control {
  top: 4em;
  right: 10em;
}

div.ol-overviewmap.ol-control {
  bottom: 2.5em;
}

div.user-location.ol-control {
  bottom: 2.5em;
  right: .5em;
}
div.user-location span {
  vertical-align: 4px;
}

.ct-series-a .ct-line, .ct-series-a .ct-point {
  stroke: blue;
}
.ct-series-b .ct-line, .ct-series-b .ct-point {
  stroke: green;
}
