/* You can add global styles to this file, and also import other style files */

html, body {
  width: 100%;
  height: 100%;
}

div.ol-zoom.ol-control {
  top: 4em;
}

div.ol-rotate.ol-control {
  top: 4em;
  right: 10em;
}

div.ol-overviewmap.ol-control {
  bottom: 2.5em;
}

div.user-location.ol-control {
  bottom: 2.5em;
  right: .5em;
}

.ct-series-a .ct-line, .ct-series-a .ct-point {
  stroke: blue;
}
.ct-series-b .ct-line, .ct-series-b .ct-point {
  stroke: green;
}
