/* You can add global styles to this file, and also import other style files */

html, body {
  width: 100%;
  height: 100%;
}

div.ol-zoom.ol-control {
  top: 4em;
}

div.user-location.ol-control {
  bottom: 3em;
  right: .5em;
}
