<ng-template #content let-modal>
  <div class="modal-header bg-dark text-white">
    <h4 class="modal-title">[{{id}}] {{name}}</h4>
    <small>{{latitude}}, {{longitude}}</small>
  </div>
  <div class="modal-body">
    <ngb-tabset>
      <ngb-tab title="History">
        <ng-template ngbTabContent>
          <app-history-chart [id]="id"></app-history-chart>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Prediction">
        <ng-template ngbTabContent>
          <app-prediction-chart [id]="id"></app-prediction-chart>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>
