<ng-template #content let-modal>
  <div class="modal-header bg-dark text-white">
    <h4 class="modal-title">[{{id}}] {{name}}</h4>
    <small>{{latitude}}, {{longitude}}</small>
  </div>
  <div class="modal-body">
    <ngb-tabset>
      <ngb-tab title="History">
        <ng-template ngbTabContent>
          <app-chart [id]="id"></app-chart>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Prediction">
        <ng-template ngbTabContent>
          <p>Prediction visualization will come here...</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>
