<nav class='navbar navbar-fixed-top navbar-inverse'>
    <div class="container-fluid">
            <a class='navbar-brand' [routerLink]='["/"]'>H&amp;H Frontend</a>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
        </div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-globe'></span> OSM Map
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/chart"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-stats'></span> Chart
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/about"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-info-sign'></span> About
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
